;; `!` applies to modifiers (eg. command, shift, alt, etc.)
;; <from> or <to> expressions cannot be comprised solely of modifer shortcuts (eg. CTOS is invalid but CTOleft_shift is valid)
;; general rule format: <from> <to> <conditions> <other options>
;; <from> and <to> are required but last two arguments are optional
;; <condition> for a series of applications cannot take the format: [:iterm :vsc], instead it must be :rules [[<from> <to> vsc <options>] [<from> <to> iterm <option>]]
{
  :applications {
    :vsc ["^com.microsoft.VSCode$"]
    :iterm ["^com.googlecode.iterm2"]
    :typora ["^abnerworks.Typora"]
    :kiro ["dev.kiro.desktop"]
  }
  :main [
    {
      :des "caps lock to hyper key [GLOBAL]"
      :rules [[:caps_lock :!CTOleft_shift nil {:alone {:key :caps_lock :hold_down_ms 200} }]]
    }
    ;; {
    ;;   :des "right command, alone, to escape [VSCODE]"
    ;;   :rules [[:right_command :right_command :vsc {:alone :escape}] [:right_command :right_command :iterm {:alone :escape}] [:right_command :right_command :kiro {:alone :escape}]]
    ;; }
    {
      :des "hyper/caps plus j to down arrow [GLOBAL]"
      :rules [[:!!j :down_arrow]]
    }
    {
      :des "hyper/caps plus k to up arrow [GLOBAL]"
      :rules [[:!!k :up_arrow]]
    }
    {
      :des "hyper/caps plus h to left arrow [GLOBAL]"
      :rules [[:!!h :left_arrow]]
    }
    {
      :des "hyper/caps plus l to right arrow [GLOBAL]"
      :rules [[:!!l :right_arrow]]
    }
    {
      :des "hyper/caps plus i to context down (command + tab) [GLOBAL]"
      :rules [[:!!i :!Ctab]]
    }
    {
      :des "hyper/caps plus u to context up (command + shift + tab) [GLOBAL]"
      :rules [[:!!u :!CStab]]
    }
    {
      :des "hyper/caps plus [ to select previous tab (control + shift + tab) [GLOBAL]"
      :rules [[:!!open_bracket :!TStab]]
    }
    {
      :des "hyper/caps plus ] to select next tab (control + tab) [GLOBAL]"
      :rules [[:!!close_bracket :!Ttab]]
    }
    {
      :des "hyper/caps plus f to toggle fullscreen app (command + control + f) [GLOBAL]"
      :rules [[:!!f :!CTf]]
    }
    ] 
}